@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 2.8vh;
    font-family: "Aharoni", "Montserrat";
}

body{
    background: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    background-size: 100% 1000%;
}

li, a, button {
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-shadow: 1px 1px 1px #000000;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 3%;
}

nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.logo{
    color: rgb(255, 255, 255);
    font-family: "Aharoni";
    font-size: 4.5vw;
    font-weight: 700;
    letter-spacing: 0.6vw;
    line-height: 70px;
    text-align: center;
    text-shadow: 3px 10px 10px #C86F86;
    transition: all 0.9s ease 0s;
    
}

.logo:hover{
    font-size: 5vw;
    cursor:pointer;

}

.nav__links {
    
    opacity: 0.80;
    border-radius: 50px;
    background: radial-gradient(circle, #086788 0%, rgb(83, 97, 134) 100%);
    box-shadow: 2px 1px 10px 0 #1A6582;
    text-align: center;
    padding: 0.88vh 0.7vw;
}

.nav__links li {
    display: inline-block;
    padding: 1px 18px;
    
}

.nav__links li a {
    transition: all 0.4s ease 0s;
}

.nav__links li a:hover {
    text-shadow: 3px 3px #C86F86;
    font-size: 2.9vh;
}


button {
    margin-left: 25%;
    margin-right: 3vw;
    padding: 0.84vh 0.7vw;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(45deg, #8baaaa 0%, #802551 100%);
    box-shadow: 1px 1px 6px 0 #611a82;
    border: none;
    border-radius: 50px;
    transition: all 0.5s ease 0s;
}

button:hover{
    text-shadow: 3px 3px #dd9bad;
    font-size: 2.85vh;
}


.presupuesto{ 
    
    text-align: center;
    color: white;
    text-shadow: 1px 1px #000000;
    border-spacing: 3.6vw 10px;
    margin-top: 50px;
    margin-left: 14px;
    
} 
.presupuesto td{
    padding: 0.88vh 0.7vw;
    border-radius: 50px; 
}

.presupuesto thead td{
    background-image: linear-gradient(45deg, #7c4081 0%, #802551 100%);
}

.presupuesto__body td{
    font-size: 3.8vh;
    padding: 0.5vh 0.7vw;
    background-color: rgba(0, 0, 0, 0.384);
    margin: 10px;
}

#empty{
    background-color: inherit;
}