@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 2.8vh;
    font-family: "Aharoni", "Montserrat";
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px #000000;
}

body{
    background-image: radial-gradient(circle, #f4bdcb, #f5c3cf, #f6c9d4, #f6cfd8, #f7d5dd, #f7d7df, #f8dae0, #f8dce2, #f8dbe1, #f7dae0, #f7d8df, #f6d7de);   background-size: 100% 1000%;
}

header{
    display: grid;
    grid-template-columns: 10fr 7fr 3fr;
    align-items: center;
    padding: 2% 3%;
}

/* ---- LOGO ----*/

.logo{
    color: rgb(255, 255, 255);
    font-family: "Aharoni";
    font-size: 4.5vw;
    font-weight: 700;
    letter-spacing: 0.6vw;
    line-height: 70px;
    text-align: center;
    text-shadow: 3px 10px 10px #C86F86;
    transition: all 0.9s ease 0s;
    justify-self: left;
    
}

.logo:hover{
    font-size: 5vw;
    cursor:pointer;
}

.nav__links {
    opacity: 0.80;
    border-radius: 50px;
    background: radial-gradient(circle, #086788 0%, rgb(83, 97, 134) 100%);
    box-shadow: 2px 1px 10px 0 #1A6582;
    text-align: center;
    padding: 0.88vh 0.7vw;
    
}

.nav__links > li {
    display: inline-block;
    padding: 1px 18px;
}

.nav__links li a {
    transition: all 0.4s ease 0s;
}

.nav__links li a:hover {
    text-shadow: 3px 3px #C86F86;
    font-size: 2.9vh;
}


/**** CONTACT BUTTON ***/

.contact {
    margin-left: 25%;
    margin-right: 3vw;
    padding: 0.84vh 0.7vw;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(45deg, #8baaaa 0%, #802551 100%);
    box-shadow: 1px 1px 6px 0 #611a82;
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    cursor:pointer;
    justify-self: right;
}

.contact:hover{
    text-shadow: 3px 3px #dd9bad;
    font-size: 2.85vh;
}

/* ------------------------------ END NAV -------------------------------*/

/* ------------------------- Tabla presupuesto & Tabla Fecha -------------------------*/

.presupuesto, .tabla-filtrar-fecha{ 
    
    text-align: center;
    color: white;
    text-shadow: 1px 1px #000000;
    border-spacing: 3.0vw 5px;
    margin-top: 50px;
    margin-left: 14px;
    
} 

.presupuesto td, .tabla-filtrar-fecha td{
    padding: 0.88vh 0.7vw;
    border-radius: 50px; 
}

.presupuesto thead td{
    background-image: linear-gradient(45deg, #7c4081 0%, #802551 100%);
}

.presupuesto__body td, .tabla-filtrar-fecha td{
    font-size: 3.8vh;
    padding: 0.5vh 0.7vw;
    background-color: #bd1a43;
    margin: 10px;
}

.tabla-filtrar-fecha td{
    font-size: 2.8vh;
}

#empty{
    background-color: inherit;
}

.tabla-filtrar-fecha td option{
    font-size: 2.1vh;
}

/* ---------------------------- INPUT GASTOS --------------------------------*/

.input-gasto{
    margin:4vw;
}


/***** FORM *****/

.form-control { 
    width: 11vh;
    height: 4.3vh;
    border-radius: 50px;
    font-size: 2.1vh;
    overflow: visible;
    color: rgb(228, 120, 120);
    text-shadow: 1px 1px #000000;
    font-weight: 100;
    border: none;
    text-align: left;
    text-indent: 10px;
}

.form-control::placeholder {
    color: rgba(37, 34, 34, 0.425);
    font-size: 1.6vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/***** LISTA *****/

.nombre-gasto li{
    display: inline-block;
    padding: 0.88vh 0.8vw;
    text-align: right;
    background-image: linear-gradient(45deg, #7c4081 0%, #802551 100%);
    border-radius: 50px;
}

.nombre-gasto > li:nth-child(3){
    background: radial-gradient(circle, #086788 0%, rgb(83, 97, 134) 100%);
}

#nombre_gasto{
    width: 30vw;
    height: 5vh;
}

/************************* TABLE *****************************/


/****** BUTTON ******/
.btn-agregar{
    background-color: inherit;
    background-image: inherit;
    border: none;
    transition: ease-out 0.3s;
}
.btn-agregar:hover{
    text-shadow: 3px 2px #ce7f7f;
}

.table-cell-btn-agregar{
    background-image: linear-gradient(45deg, #7c4081 0%, #802551 100%);
}

/* TABLE */

.input-gasto__table{
    margin-left: 6.25vw;
    border-spacing: 1vw 20px;
}

/*   TABLE DATA  */
.input-gasto__table td{
    font-size: 2.6vh;
    padding: 0.4vh 0.6vw;
    text-align: center;
    border: 1px;
    color: white;
    background-color :#BD1A43;
    border-radius: 25px;
}

.input-gasto__table > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1){
    font-size: 2.3vh;
}

.nombre-gasto > li:nth-child(2), 
.input-gasto__table > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(2),
.input-gasto__table > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(4),
.input-gasto__table > tbody:nth-child(1) > tr:nth-child(2) > td:nth-child(2),
.input-gasto__table > tbody:nth-child(1) > tr:nth-child(2) > td:nth-child(4),
.input-gasto__table > tbody:nth-child(1) > tr:nth-child(3) > td:nth-child(2),
.input-gasto__table > tbody:nth-child(1) > tr:nth-child(3) > td:nth-child(4){

    background-color: inherit;
    background-image: inherit;
}


/* ******************** LOG IN ****************************** */

.login-container{
    margin: 100px;
}

.form-login{
    color: black;
    border: none;
}

.btn-login{
    padding: 3px;
    background-color: rgba(132, 32, 226, 0.548);
    border: none;
}


/*********************** REGISTER ****************************** */

.register-container{
    margin: 100px;
}

.register-container ul{
    list-style-type: none;
}

.register-container ul li input{
    margin-bottom: 20px;
    width: 29vh;
    height: 4.3vh;
    border-radius: 50px;
    padding: 0.5vh 0.7vw;
    font-size: 2.1vh;
    color: rgba(0, 0, 0, 0.623);
    font-family: "Montserrat";
}

.btn-register{
    border-radius: 50px;
    padding: 0.5vh 0.7vw;
    background-color: rgba(0, 0, 255, 0.712);

}


/*------------------------------------ HISTORY TABLE ---------------------------------------------  */

.table-history.container{
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.table-history, .tabla-gastos-anuales {
    width: 30vw;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
    margin-left :4.5vw;
    margin-top: 70px;
    border-radius: 20px;
    background: linear-gradient(45deg, #49a09d, #5f2c82);

}
.table-history th, .table-history td, .tabla-gastos-anuales td {
    padding: 15px;
    background-color: rgba(255,255,255,0.2);
    color: #fff;
    box-shadow: 1px 1px 2px rgba(61, 68, 129, 0.685);
    font-family: sans-serif;
    font-weight: 100;
    text-shadow: 0px 1px 0px #000000;
}
.table-history thead {
    text-align: center;
    background-color: #55608f;
    
}
/*
.table-history tbody tr:hover {
    background-color: rgba(255,255,255,0.3);
} */


.table-history tbody td {
    position: relative;
    text-align: center;
}

.table-history tbody td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255, 255, 255, 0.062);
}

/* -------------- Tabla Fecha --------------- */

.tabla-filtrar-fecha{
    width: 35%;
}

.tabla-filtrar-fecha tr td:first-child{
    background-image: linear-gradient(45deg, #7c4081 0%, #802551 100%);
    width: 150px;
}


.tabla-filtrar-fecha td{
    background-image: linear-gradient(to right top, #f04819, #ec562e, #e7633f, #e16e4f, #da795f);
    padding: 0.65vh 0.7vw;
}

.tabla-filtrar-fecha tr:nth-child(2) td:nth-child(2),
.tabla-filtrar-fecha tr:nth-child(2) td:nth-child(3),
.tabla-filtrar-fecha tr:nth-child(2) td:nth-child(4){
    background: none;
}

/* Tabla data text field */ 

.table-date-text-field{
    border-spacing: 4px 0px;
}

.table-date-text-field tr td:nth-child(2){
    padding: 0;
}

.table-date-text-field tr td:nth-child(1){
    background-image: linear-gradient(to right top, #f04819, #ec562e, #e7633f, #e16e4f, #da795f) !important;
}

.table-date-text-field tr td .form-control{
    width: 5vh;
    border-radius: 18px;
    font-size: 2.7vh;
    text-align: center;
    text-indent: 0px;
    color: rgb(233, 113, 157);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

#mes, #mes option{
    font-size: 2.1vh;
}

/*  BOTON BUSCAR */

.btn-filtrar-fecha{
    cursor: pointer;
}

button{
    border: none;
    background: inherit;
}

.blank-row td{
    background: none !important;
}

.btn-buscar{
    background-image: linear-gradient(45deg, #8baaaa 0%, #802551 100%);
    box-shadow: 1px 1px 6px 0 #611a82;
    padding: 0.84vh 0.7vw;
    border-radius: 25px;
    font-size: 3.5vh;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.btn-buscar:hover, .btn-filtrar-fecha:hover{
    text-shadow: 2px 2px #dd9bad;
}
/* FIN BOTON BUSCAR  */ 


/* --------------- TABLA GASTOS MENSUALES ----------------*/

.tabla-gastos-mensuales-container{
    display: block;
    margin: 50px; 
}

.tabla-gastos-mensuales{
    
    width: 55vw;
    height: 32vw;
    border-spacing: 0.5em 0.5em;
    border-collapse:initial;
    background-color: rgba(233, 82, 82, 0.048);
    border-radius: 15px;
}

.tabla-gastos-mensuales td{
    padding: 0px;
    box-shadow: none;
    border: 2px rgba(0, 0, 0, 0.192) inset;
    width: 65px;
    border-radius: 15px;
    background-color: rgb(247, 241, 234);
    position: relative;
    
}

.tabla-gastos-mensuales tr td h2{
    color: rgb(216, 66, 166);
    text-align: right;
    margin-right: 4px;
    font-family:Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 2px rgb(248, 2, 43);
    position: relative;
    font-size: 80%;
    bottom: 0.85vw;
}

.tabla-gastos-mensuales td h1{
    color:rgb(68, 65, 65);
    text-shadow: 2px 2px 2px rgb(241, 140, 157);
    font-size: 3.2vh;
    position: absolute;
    left: 23%;
    bottom: 0px;
    font-size: 90%;
}

.tabla-gastos-mensuales tr td h1:nth-child(2){
    color: rgb(2, 138, 9);
    margin-left: 4px;
    margin-right: 0px;
    left: 1px;
}

.tabla-gastos-mensuales tr td h1{
    display: inline;
}

/* --------------END----------------------*/

label{
    cursor: pointer;
}



/*       MEDIA CELULAR   */


@media screen and (max-width: 500px){

    /* GRID HEADER */

    
    header{
        display: grid;
        grid-template-columns: 7fr 3fr;
        grid-template-rows: 70px 80px;
        margin: 0px;
    }

    .logo{
        justify-self: center;
        grid-column: 1/2;
        font-size: 13vw;
    }

    .contact{
        grid-column: 2/3;
        grid-row: 1/2;
    }

    nav{
        grid-column: 1/3;
        grid-row: 2/3;
    }

    nav ul{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        align-items: center;
    }

    nav li{
        padding-top: 1px;
        padding-bottom: 10px;
    }
    nav li a{
        text-align: center;
        font-size: 2.4vh;
    }
    
    .nav__links{
        padding: 0px;
    }

    /**** tabla-filtrar-fecha ****/

    /* GRID DISPLAY */

    .tabla-filtrar-fecha{
        margin-left: 0px;
        width: 100%;
        border-spacing: 6px;
    }

    .table-date-text-field{
        border-spacing: 6px;
    }
    
    .tabla-filtrar-fecha tr td:first-child{
        width: auto;
    }

    .tabla-filtrar-fecha tbody{
        display: grid;
        grid-template-columns: 3fr 3fr 3fr;
        grid-template-rows: 60px 50px 50px 50px 60px 60px;
    }

    /* PRIMERA FILA*/

    .tabla-filtrar-fecha tbody tr:first-child{
        grid-column: 1/4;
        grid-row: 1/2;
    }

    
    /* SEGUNDA FILA*/

    .tabla-filtrar-fecha tbody tr:nth-child(2){
        display: grid;
        grid-template-columns: 6fr 4fr;
        grid-template-rows: 50px 50px 50px 50px;
        grid-column: 1/4;
        grid-row: 2/4;
    }

   /*FECHA */
    .tabla-filtrar-fecha > tbody:nth-child(2) > tr:nth-child(2) > td:nth-child(1){
        grid-column: 1/2;
        grid-row: 1/2;
        text-align:center;
        align-self: center;
        padding: 5px;
    }

    .tabla-filtrar-fecha > tbody:nth-child(2) > tr:nth-child(2) > td:nth-child(2){
        grid-column: 1/2;
        grid-row: 2/3;
        
        
    }

    .tabla-filtrar-fecha > tbody:nth-child(2) > tr:nth-child(2) > td:nth-child(3){
        grid-column: 1/2;
        grid-row: 3/4;
        
    }

    .tabla-filtrar-fecha > tbody:nth-child(2) > tr:nth-child(2) > td:nth-child(4){
        grid-column: 1/2;
        grid-row: 4/5;
        
    }
    
    /* TERCERA FILA*/
    .tabla-filtrar-fecha tbody tr:nth-child(3){
        grid-column: 1/2;
        grid-row: 6/7;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }

    .blank-row > td:nth-child(4){
        grid-column: 1/2;
        grid-row: 1/2;
        margin-left: 0px;
    }

    /* end Grid*/

    .table-history, .tabla-gastos-mensuales, .tabla-gastos-anuales {
        width: 100%;
    }

    /*      Gastos mensuales tabla        */


    .tabla-gastos-mensuales{
        height: 400px;
        table-layout: fixed;
        border-spacing: 0.3em 0.5em;
    }

    .tabla-gastos-mensuales td{
        width: 15%;
        height: 15%;
    }

    .tabla-gastos-mensuales td h1{
        left: 20%;
    }

    .tabla-gastos-mensuales tr td h1:nth-child(2){
        margin-left: 1px;
        left: 1px;
    }

    .tabla-gastos-mensuales tr td h2{
        font-size: 70%;
        bottom: 25%;
    }

    .tabla-filtrar-fecha td label, .tabla-filtrar-fecha td{
        font-size: 2.5vh;
        padding: 3px;
    }

    .btn-buscar{
        font-size: 2.45vh;
    }

    input[type=radio]{
        display: none;
    }

    /* AGREGAR GASTOS INPUT */

    .input-gasto{
        margin-top: 60px;
        margin-left: 3px;
    }

    #nombre_gasto{
        width: 150%;
    }

    .presupuesto, .tabla-filtrar-fecha, .input-gasto__table{
        margin-left: 0px;
    }

    .input-gasto__table td{
        font-size: 2.1vh;
    }

    #mes{
        font-size: 1.8vh;
    }
}

/*  ********************     TABLET  **********************/
@media screen and (min-width: 500px) and (max-width: 1100px){


    /*** NAV BAR GRID ***/

    header{
        display: grid;
        grid-template-columns: 7fr 2fr;
        grid-template-rows: 70px 80px;
        margin: 0px;
    }

    .logo{
        justify-self: center;
        grid-column: 1/2;
        font-size: 9.5vw;
    }

    .contact{
        grid-column: 2/3;
        grid-row: 2/3;
    }

    nav{
        grid-column: 1/4;
        grid-row: 2/3;
    }

/* *******************************************/

    /* TABLA FECHA */

    .tabla-filtrar-fecha{
        border-spacing: 2vw 5px;
        width: 90%;
    }

    #mes > option{
        font-size: 1.5vh;
    }

    /* "ver gastos"  */

    .tabla-filtrar-fecha > tbody:nth-child(2) > tr:nth-child(1) > td:nth-child(1){
        font-size: 2.2vh;
    }

    /*   ANUALES / MENSUALES / DIARIOS  */
    .tabla-filtrar-fecha tr td label{
        font-size: 2.15vh;
    }


    .tabla-gastos-mensuales-container, .tabla-filtrar-fecha{
        margin-left: 0;
    }
    
    .tabla-gastos-mensuales{
        height: 600px;
        width: 95vw;
        table-layout: fixed;
        border-spacing: 0.3em 0.5em;
    }

    .tabla-gastos-mensuales tr td h2{
        bottom: 2vw;
    }


    /* Nombre del gasto  */

    #nombre_gasto{
        width: 50vw;
    }
}
