{% extends "layout.html" %} {% block title %} Agregar gastos {% endblock %} {%
block body %}

<div class="input-gasto">
    <form action="/agregar" method="POST">
        <ul class="nombre-gasto">
            <li>Gasto:</li>
            <li><input type="text" class="form-control" id="nombre_gasto" name="nombre_gasto"
                    placeholder="Escriba el nombre del producto o servicio aqui..."></li>
            <li>Diario</li>
        </ul>

        <table class="input-gasto__table">
            <tbody>
                <tr>
                    <td>Anio</td>
                    <td>
                        <select name="anio" id="anio">
                            
                            <option value="2020">2020</option>
                            <option value="2021" selected>2021</option>
                            <option value="2022">2022</option>
                        
                        </select>
                    </td>
                    <td>Categoria</td>
                    <td><input type="text" class="form-control" id="cat" name="cat" placeholder="Ej: Fruta"></td>
                </tr>
                <tr>
                    <td>Mes</td>
                    <td>
                        <select name="mes" id="mes">
                            <option value="" selected disabled></option>
                            
                            <option value="Enero">Enero</option>
                            <option value="Febrero">Febrero</option>
                            <option value="Marzo">Marzo</option>
                            <option value="Abril">Abril</option>
                            <option value="Mayo">Mayo</option>
                            <option value="Junio">Junio</option>
                            <option value="Julio">Julio</option>
                            <option value="Agosto">Agosto</option>
                            <option value="Septiembre">Septiembre</option>
                            <option value="Octubre">Octubre</option>
                            <option value="Noviembre">Noviembre</option>
                            <option value="Diciembre">Diciembre</option>
                            
                        </select>
                    </td>

                    <td>Precio</td>
                    <td><input type="text" class="form-control" id="precio" name="precio" placeholder="$"></td>
                </tr>
                <tr>
                    <td>Dia</td>
                    <td>
                        <select name="dia" id="dia">
                        <option value="" selected disabled></option>
                        {% for i in range(1,32)%}
                        <option value="{{i}}">{{i}}</option>
                        {% endfor %}
                    </select>
                </td>

                    <td class="table-cell-btn-agregar"><button class="btn-agregar" type="submit">Agregar</button></td>
                </tr>
            </tbody>
        </table>

    </form>

</div>  

{% endblock %}