{% extends "layout.html" %}

{% block title %}
Ver Gastos
{% endblock %}

{% block body %}

<div class="filtrar-historial-container">

    <table class="tabla-fecha">
        <form class="row-text-fields" action="/" method="POST">
            <tr>
                <td>Ver gastos:</td>

                <td>
                    <input type="radio" class="btn-filtrar-fecha" id="btn-anuales" value="anual" name="fecha">
                    <label for="btn-anuales">Anuales</label><br>
                </td>

                <td>
                    <input type="radio" class="btn-filtrar-fecha" id="btn-mensuales" value="mensual" name="fecha">
                    <label for="btn-mensuales">Mensuales</label><br>

                </td>

                <td>
                    <input type="radio" class="btn-filtrar-fecha" id="btn-diarios" value="diario" name="fecha">
                    <label for="btn-diarios">Diarios</label><br>
                </td>

            </tr>

            <tr>
                <td>Fecha:</td>
                <td>
                    <table class="table-date-text-field" id="tabla-field-anio">
                        <tr>
                            <td style="background: none;"><label for="anio">Anio:</label></td>
                            <td>
                                <select name="anio" id="anio">
                                    <option value="2020">2020</option>
                                    <option value="2021" selected>2021</option>
                                    <option value="2022">2022</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table class="table-date-text-field" id="tabla-field-mes">
                        <tr>
                            <td style="background: none;">
                                <label for="mes">Mes:</label>
                            </td>
                            <td>
                                <select name="mes" id="mes">
                                    <option value="" selected disabled></option>
                                    
                                    <option value="Enero">Enero</option>
                                    <option value="Febrero">Febrero</option>
                                    <option value="Marzo">Marzo</option>
                                    <option value="Abril">Abril</option>
                                    <option value="Mayo">Mayo</option>
                                    <option value="Junio">Junio</option>
                                    <option value="Julio">Julio</option>
                                    <option value="Agosto">Agosto</option>
                                    <option value="Septiembre">Septiembre</option>
                                    <option value="Octubre">Octubre</option>
                                    <option value="Noviembre">Noviembre</option>
                                    <option value="Diciembre">Diciembre</option>
                                    
                                </select>
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table class="table-date-text-field" id="tabla-field-dia">
                        <tr>
                            <td style="background: none;"><label for="dia">Dia:</label></td>
                            <td>
                                <select name="dia" id="dia">
                                    <option value="" selected disabled></option>
                                    {% for i in range(1,32)%}
                                    <option value="{{i}}">{{i}}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="blank-row">
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <button class="btn-buscar">Buscar</button>
                </td>
            </tr>
        </form>
    </table>

</div>


<!-- TABLA HISTORIAL DE GASTOS DIARIOS-->

{% if gasto_total_dia %}

<div class=" table-history-container">
    <h2>
        Gastos del dia {{dia}}/{{mes}}/{{anio}}
    </h2>
    <table class="table-history">
        <thead>
            <tr>
                <td>Gasto</td>
                <td>Categoria</td>
                <td>Precio</td>
            </tr>
        </thead>

        {% for row in rows %}

        <tr>
            <td>{{row["nombre_gasto"]}}</td>
            <td>{{row["categoria"]}}</td>
            <td>${{row["precio"]}}</td>
        </tr>

        {% endfor %}

        <footer>
            <tr>
                <td>Total</td>
                <td></td>
                <td>${{gasto_total_dia}}</td>
            </tr>
        </footer>

    </table>

</div>

{% endif%}

<!-- TABLA HISTORIAL DE GASTOS MENSUALES-->

{%if gastos_mensuales%}

<div class="tabla-gastos-mensuales-container">

    <h2>Gastos del mes {{mes}}, {{anio}}</h2>



    <table class="tabla-gastos-mensuales">

        <tr>
            {% for dia in range(1,8)%}
            <td>
                <h2>{{dia}}</h2>
                <h1>$</h1>
                <h1>{{gastos_mensuales[dia]}}</h1>
            </td>
            {%endfor%}
        </tr>
        <tr>
            {% for dia in range(8,15)%}
            <td>
                <h2>{{dia}}</h2>
                <h1>$</h1>
                <h1>{{gastos_mensuales[dia]}}</h1>
            </td>
            {%endfor%}
        </tr>
        <tr>
            {% for dia in range(15,22)%}
            <td>
                <h2>{{dia}}</h2>
                <h1>$</h1>
                <h1>{{gastos_mensuales[dia]}}</h1>
            </td>
            {%endfor%}
        </tr>

        <tr>
            {% for dia in range(22,29)%}
            <td>
                <h2>{{dia}}</h2>
                <h1>$</h1>
                <h1>{{gastos_mensuales[dia]}}</h1>
            </td>
            {%endfor%}
        </tr>

        <tr>
            {% for dia in range(28,32) %}
            <td>
                <h2>{{dia}}</h2>
                <h1>$</h1>
                <h1>{{gastos_mensuales[dia]}}</h1>
            </td>
            {% endfor %}
        </tr>

        <footer>
            <tr>
                <td><h2>Total</h2></td>
                <td>
                    ${{gasto_total_mes}}
                </td>
            </tr>
        </footer>

    </table>
</div>

{%endif%}

<!-- TABLA HISTORIAL DE GASTOS ANUALES-->

{% if gasto_total_anio %}

<div class="tabla-gastos-anuales-container">

    <table class="tabla-gastos-anuales">

        <thead>
            <tr>
                <th>
                    Mes
                </th>

                <th>
                    Gasto
                </th>
            </tr>
        </thead>

        <tbody>

            <tr>
                <td>Enero</td>
                <td>$ {{gastos_por_mes[1]}}</td>
            </tr>
            <tr>
                <td>Febrero</td>
                <td>$ {{gastos_por_mes[2]}}</td>
            </tr>
            <tr>
                <td>Marzo</td>
                <td>$ {{gastos_por_mes[3]}}</td>
            </tr>

            <tr>
                <td>Abril</td>
                <td>$ {{gastos_por_mes[4]}}</td>
            </tr>

            <tr>
                <td>Mayo</td>
                <td>$ {{gastos_por_mes[5]}}</td>
            </tr>
            <tr>
                <td>Junio</td>
                <td>$ {{gastos_por_mes[6]}}</td>
            </tr>
            <tr>
                <td>Julio</td>
                <td>$ {{gastos_por_mes[7]}}</td>
            </tr>
            <tr>
                <td>Agosto</td>
                <td>$ {{gastos_por_mes[8]}}</td>
            </tr>
            <tr>
                <td>Septiembre</td>
                <td>$ {{gastos_por_mes[9]}}</td>
            </tr>
            <tr>
                <td>Octubre</td>
            </tr>
            <tr>
                <td>Noviembre</td>
            </tr>
            <tr>
                <td>Diciembre</td>
            </tr>

        </tbody>

        <footer>
            <tr>
                <td>Total</td>
                <td>$ {{gasto_total_anio}}</td>
            </tr>
        </footer>
    </table>
</div>

{% endif %}


{% endblock %}