{% extends "layout.html" %}

{% block title %}
Ver Gastos
{% endblock %}

{% block body %}
{% if username %}
<h1 style="margin-left: 80px;">Welcome {{username}}!</h1>
<br>
{% endif%}

<div class="filtrar-historial-container">

    <table class="tabla-fecha">
            <tr>
                <td>Ver gastos:</td>
                <td><button class="btn-filtrar-fecha" id="btn-anuales">Anuales</button></td>
                <td><button class="btn-filtrar-fecha" id="btn-mensuales">Mensuales</button></td>
                <td><button class="btn-filtrar-fecha" id="btn-diarios">Diarios</button></td>
                <h1 id="foo">testing js click</h1>
            </tr>
            <form action="/" method="POST"></form>
            <tr>
                <td>Fecha:</td>
                <td>
                    <table class="table-date-text-field">
                        <tr>
                            <td style="background: none;"><label for="anio">Anio:</label></td>
                            <td><input type="text" class="form-control" id ="anio" name="anio" placeholder="2021"></td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table class="table-date-text-field">
                        <tr>
                            <td style="background: none;"><label for="mes">Mes:</label></td>
                            <td><input type="text" class="form-control" id="mes" name="mes" placeholder="08"></td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table class="table-date-text-field">
                        <tr>
                            <td style="background: none;"><label for="dia">Dia:</label></td>
                            <td><input type="text" class="form-control" id="dia" name="dia" placeholder="25"></td>
                        </tr>
                    </table>
                </td>
            </tr>

    </table>

</div>


<!-- TABLA HISTORIAL DE GASTOS-->

<div class="table-history-container">
    <table class="table-history">
        <thead>
            <tr>
                <td>Gasto</td>
                <td>Categoria</td>
                <td>Cantidad</td>
                <td>Precio</td>
                <td>Fecha</td>
            </tr>
        </thead>

        {% for row in rows %}
        <tr>
            <td>{{row["nombre_gasto"]}}</td>
            <td>{{row["categoria"]}}</td>
            <td>{{row["cantidad"]}}</td>
            <td>${{row["precio"]}}</td>
            <td>{{row["dia"]}}/{{row["mes"]}}/{{row["anio"]}}</td>
        </tr>
        {% endfor %}
    </table>

</div>
{% endblock %}