<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">

    <title>{% block title %}{% endblock %}</title>
    <link href="/static/styles.css" rel="stylesheet">

</head>

<body>
    <header>
        <h1 class="logo">budget</h1>

        <nav>
            <ul class="nav__links">

                <li> <a href="/">Ver gastos</a></li>
                <li> <a href="/agregar">Agregar gastos</a></li>
                <li> <a href="#">Cuenta</a>
                </li>

            </ul>
            <a href="/logout"><button class="contact">Logout</button></a>
        </nav>
    </header>

    {% block body%} {% endblock %}
</body>

</html>