<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">

    <title>{% block title %}{% endblock %}</title>
    <link href="/static/styles.css" rel="stylesheet">
    <link rel = "icon" href = 
"/static/title-icon.png" 
        type = "image/x-icon">

</head>

<body>
    <header>
        <h1 class="logo">budget</h1>
        <nav>
            <ul class="nav__links">

                <li> <a href="/">Ver gastos</a></li>
                <li> <a href="/agregar">Agregar gastos</a></li>
                <li> <a href="#">Cuenta</a>
                </li>

            </ul>
            <a href="/logout"><button class="contact">Logout</button></a>
        </nav>
    </header>

    <table class="presupuesto">
        <thead>
            <tr>
                <td>Presupuesto</td>
                <td>Anual</td>
                <td>Mensual</td>
            </tr>
        </thead>
    
        <tbody>
            <tr>
                <td></td>
            </tr>
            <tr class="presupuesto__body">
                <td id="empty"></td>
                <td>$500.000</td>
                <td>$50.000</td>
            </tr>
        </tbody>
    </table>
    {% block body%} {% endblock %}
</body>

</html>