<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesion</title>
    <link href="/static/styles.css" rel="stylesheet">
    <link rel="icon" href="/static/title-icon.png" type="image/x-icon">
</head>

<body scroll="no" style="overflow: hidden">

    <div class="logo_container">
        <h1 class="logo">budget</h1>
    </div>

    <div class="login-container">

        <ul class="list-input-login">

            <form action="/login" method="post">

                <li>
                    <input autocomplete="off" autofocus class="form-login" name="username" placeholder="Username"
                        type="text">
                </li>

                <li>
                    <input class="form-login" name="password" placeholder="Password" type="password">
                </li>

                <li>
                    <button class="btn-login" type="submit">Log In</button>
                </li>

            </form>

            <li>
                <p class="redirigir_iniciar_sesion">¿No tienes una cuenta? <a href="/register">Registrate aqui.</a></p>
            </li>

        </ul>

    </div>

    <div class="cherry_img_container">
        <img src="/static/blossom.png" alt="cheery blossom"> 
    </div>
</body>

</html>