<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
    <link href="/static/styles.css" rel="stylesheet">
    <link rel = "icon" href = 
    "/static/title-icon.png" 
            type = "image/x-icon">
</head>

<body scroll="no" style="overflow: hidden">

    <div class="logo_container">
        <h1 class="logo">budget</h1>
    </div>

    <div class="register-container">


        <ul class="list-input-register">
            <form action="/register" method="post"></form>
            <li>
                <input autocomplete="off" autofocus name="username" placeholder="Nombre de usuario" type="text">
            </li>
            <li>
                <input autocomplete="off" autofocus name="email" placeholder="Correo electronico" type="text">
            </li>
            <li>
                <input autocomplete="off" name="password" placeholder="Contraseña" type="password">
                
            </li>
            <li>
                <button class="btn-register" type="submit">Registrarse</button>
            </li>
            </form>

            <li>
                <p class="redirigir_iniciar_sesion">Ya tienes una cuenta? <a href="/login">Inicia sesion aqui.</a></p>
            </li>
        </ul>

    </div>

    




</body>

</html>