<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
    <link href="/static/styles.css" rel="stylesheet">
</head>

<body>

    <form action="/register" method="post">

        <div class="register-container">

            <ul class="list-input-register">
                <li>
                    <input autocomplete="off" autofocus name="username" placeholder="Username" type="text">
                </li>
                <li>
                    <input autocomplete="off" autofocus name="email" placeholder="email address" type="text">
                </li>
                <li>
                    <input name="password" placeholder="Password" type="password">
                </li>
                <li>
                    <input name="confirmation" placeholder="Repeat password" type="password">
                </li>
                <li>
                    <button class="btn-register" type="submit">Register</button>
                </li>
            </ul>
        </div>
    </form>

    <form action="/login">
        <button class="btn-register" type="submit">Log in</button>
    </form>


</body>

</html>